* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
    background-color: rgb(232, 232, 232);
  }
  
  /* Navbar */
  nav {
    display: flex;
    background: #f2f2f2;
    height: 7vh;
  }
  
  nav div {
    display: flex;
    align-items: center;
    flex: 50%;
  }
  
  nav div.left-side {
    padding-left: 90px;
  }
  
  nav div.right-side {
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin-left: 40px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 40px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  nav ul li a.list-active {
    color: #000000;
    font-weight: 700;
  }
  
  nav .right-side a {
    font-size: 15px;
    padding: 8px 20px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
  }

/* Setting Flex */
.personal {
  display: flex;
  height: 85vh;
  width: 1100px;
  background-color: white;
  margin-top: 30px;
  margin-left: 130px;
  }

/* Content Left */

.personal .left {
    flex: 60%;
    display: flex;
    justify-content: flex-end;
    margin-top:80px;
  }

.personal .left .content h1{
    text-align: left; 
    color: black; 
    width: 80%; 
    margin: auto;
    margin-bottom: 30px;
}

.personal .left .content p{
    text-align: justify; 
    font-size: 20px; 
    color: black; 
    width: 80%; 
    margin: auto; 
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.personal .left .content .button {
    padding: 8px 30px;
    font-size: 17px;
    background: #070504;
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 20px; 
    height: 36px;
    width: auto;
    text-decoration: none;
  }

.personal .left .content .test{
    margin-left: 20px;
}

.personal .left .content  .sosmed-list {
  margin-top: 49px;
  margin-left: 70px;
}

.personal .left .content .sosmed-list a {
  cursor: pointer;
  margin-right: 10px;
}

.personal .left .content .sosmed-list a img {
  cursor: pointer;
  width: 40px;
  margin-top: 10px;
}

/* Content Right */

.personal .right {
    flex: 40%;
    display: flex;
    position: relative;
    align-items: center;
}
.card {
    width: 400px;
    border: 1px solid #00000033;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
  }
  
  .card .image img {
    width: 100%;
    border-radius: 10px;
    
  }
  .card .header h1 {
    text-align: center;
    margin: 10px 0;
  }
  
  .card .content p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    line-height: 120%;
    margin-bottom: 20px;
  }

  /* Form Contact */

.form-contact {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contact h1{
  margin-left: 100px;
  margin-top: 107px;
  margin-bottom: 30px;
}
.form-contact form label {
  font-size: 20px;
  font-weight: 400;
}

.form-contact form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.form-contact form textarea {
  height: 100px;
}

.form-contact form button {
  padding: 8px 30px;
  font-size: 17px;
  background: #000000;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}
